.homeContainer {
    background-color: #f1f2f5; 
    width: 100vw;
}

.middleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    overflow-y: auto; 
}

/* Removes scroll indicator
.middleContainer::-webkit-scrollbar {
    display: none;
}
*/

/* Left Column */

.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
}

.profileContainer:hover {
    background-color: #e6e7eb;
}

.profileContainer p {
    display: inline-block;
    margin: 0;
    font-weight: 500;
    font-size: 1.2rem;
}

.optionImage {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-inline: 1rem;
}

.profilePicture {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    object-fit: cover; 

}