.navBar {
    position: fixed;
    width: 100vw;
    background: white;
    z-index: 1000;
    height: 62px;
    border-bottom: 1px solid rgb(208, 208, 208);
}

.navBarContents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* Left */
.brand {
    color: var(--accent-color);
    font-weight: 900;
}

.brand:hover {
    color: var(--accent-color);
    opacity: 0.9;
}

.searchBarContainer {
    display: flex;
    align-items: center;
    background: #f0f2f5;
    padding-block: 8px;
    padding-inline: 10px;
    border-radius: 20px;
}

.searchBar {
    border: none;
    background: #f0f2f5;
    padding-left: 5px;
}

.searchBar:focus {
    outline: none;
}

.searchIcon {
    color: gray;
    font-weight: 100;
}


/* Right */
.buttonContainer {
    display: flex;
    align-items: center;
    padding: 12px; 
    background-color: #f0f2f5; 
    border-radius: 50%;
    cursor: pointer; 
    transition: background-color 0.3s;
    margin-right: 7px;
}

.buttonContainer:hover {
    background-color: #e0e0e0; 
}

.button {
    color: black; 
    font-size: 20px; 
}

.profilePictureContainer {
    border: none;
    background: none;
    padding: 0;
    margin-inline-end: 10px;
}

.profilePicture {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover; 
}

/* Profile Options */
.profileOptionsContainer {
    position: absolute;
    top: 70px;
    right: 48px;
    background: white;
    box-shadow: 5px 5px 4px rgb(0,0,0,0.1);
    z-index: 1000; 
    padding: 10px;
    border-radius: 10px;
}

.optionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-block: 10px;
    background: white;
    border: none;
}

.optionContainer:hover {
    background: #f1f1f1;
}

.optionLeftPart {
    display: flex;
    align-items: center;
}

.optionContainer p {
    margin: 0 0 0 15px;
}

.icon {
    display: flex;
    align-items: center;
    padding: 12px; 
    background-color: #f0f2f5; 
    border-radius: 50%;
    cursor: pointer; 
    transition: background-color 0.3s;
    margin-right: 7px;
}

.profileContainer {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
}

.profileContainer p {
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
    margin: 0 0 0 15px;
}