.profileContainer {
    margin-top: 62px;
}

/* Cover photo */

.coverPhotoContainer {
    display: flex;
    justify-content: center;
    width: inherit;
}  

.coverPhoto {
    position: absolute;
    width: inherit;
    height: 220px;
    z-index: -5;
    object-fit: cover; 
    border-radius: 10px;
}

.coverPhotoPlaceholder {
    position: absolute;
    width: inherit;
    height: 30vh;
    z-index: -5;
    padding-top: 30px;
    filter: blur(30px);
}

.customFileInputButton {
    display: flex;
    align-items: center;
    padding-block: 5px;
    padding-inline: 15px;
    background: rgb(248, 248, 248);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    z-index: 4;
}

.customFileInputButton:hover {
    cursor: pointer;
}

/* Name and profile picture */

.profileInfoContainer {
    margin-top: 10rem;
}    

.profilePicture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: white;
    padding: 4px;
    object-fit: cover; 
}

.addStoryButton {
    display: flex;
    align-items: center;
    color: white;
    background: var(--accent-color);
    padding-block: 7px;
    padding-inline: 12px;
    border-radius: 10px;
    white-space: nowrap;
    margin-right: 10px;
    border: none;
}

.addStoryButton p {
    margin: 0;
    margin-left: 10px;
    font-weight: 700;
}


.editProfileButton {
    display: flex;
    align-items: center;
    background: #f1f1f1;
    color: black;
    padding-block: 7px;
    padding-inline: 12px;
    border-radius: 10px;
    white-space: nowrap;
    margin-right: 10px;
    border: none;
}

.editProfileButton p {
    margin: 0;
    margin-left: 10px;
    font-weight: 500;
}


.peopleYouMayKnowButton {
    background: #f1f1f1;
    padding-block: 7px;
    padding-inline: 20px;
    color:black;
    border-radius: 8px;
    border: none;
}

/* Bottom */
.profileBottom {
    min-height: 50vh;
    margin: 0;
}

.introContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    background: white;
    margin-top: 15px;
}

.introContainer h4 {
    font-weight: 700;
    margin: 0;
    color: black;
}

.introContainer button {
    background: #e4e6ea;
    border: none;
    padding: 5px;
    margin-block: 14px;
    border-radius: 8px;
    font-weight: 600;
    color: black;
}

.introContainer button:hover {
    background: #dfe0e1;
}

.profileBottomBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: #f1f2f5;
}